:root {
    --main-color: #333; 
    --second-color: #FFA44A; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
html::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: var(--main-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 60%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    margin: 110px auto 50px; 
    padding: 25px 50px; 
    border-radius: 10px;
    background-color: #fff;
    transition: all .5s;
}

@media screen and (max-device-width: 760px){
    .container {
        width: 85%;
        margin: 200px auto;
    }
}

.btn {
    padding: 10px 15px;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--second-color);
    color: #fff;
}
.btn:hover{
    cursor: pointer;
}
@media screen and (max-device-width: 760px){
    .btn {
        font-size: 3rem; 
    }
}

/* settings */
.settings-box {
    width: 70%;
    margin: 0 auto;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
@media screen and (max-device-width: 760px){
    .settings-box {
        width: 100%;
        font-size: 6rem; 
    }
}
.settings-text {
    margin-bottom: 30px;
    text-align: center;
}
.select-box{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 0;
}
.select-field-text {
    font-size: 2.2rem;
}
.select-option {
    padding: 5px 10px;
    border: 3px solid transparent;
    border-radius: 5px;
}
.select-option:hover{
    cursor: pointer;
}
.selected {
    border: 3px solid var(--second-color);;
}

.turn-timer {
    margin-right: 20px;
}
.timer-select{
    transition: opacity .2s;
    display: flex;
    align-items: center;
}
.timer-btn {
    padding: 2px 5px;
    margin-left: 10px;
    width: 25px;
    height: 30px;
}
@media screen and (max-device-width: 760px){
    .timer-btn {
        font-size: 5rem; 
    }
}

.start-game-btn {
    transition: opacity 1s;
}
@media screen and (max-device-width: 760px){
    .start-game-btn {
        font-size: 5rem; 
    }
}

/* header */
.header {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    background-color: var(--second-color); 
    display: flex;
    align-items: center;
    border-radius: 0 0 50px 50px;
    border-bottom: 5px solid #fff;
}
@media screen and (max-device-width: 760px){
    .header {
        flex-direction: column;
    }
}
.header__game-title {
    color: #fff;
    font-size: 4rem;
    margin: 0 auto;
}
/* scoreboard */
.scoreboard {
    color: #fff;
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}
@media screen and (max-device-width: 760px){
    .scoreboard {
        width: 80%;
        font-size: 5rem; 
    }
}

/* game */
.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-device-width: 760px){
  .game-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        padding: 20px 50px;
  }
}
/* game cards */
.card-wrappper {
    padding: 10px;
    min-height: 130px;
}

.card {
    padding: 25px 15px;
    border: black 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    
    box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.25), inset 0px -2.23121px 0px #000000, inset 0px 4.46241px 0px rgba(255, 255, 255, 0.5);
    border-radius: 5px;

    transition: background-color .2s;
}

.card-content {
    font-size: 2em;
    transition: color .2s;
}

@media screen and (max-device-width: 760px){
  .card {
    width: 90%;
    height: 200px;
  }

  .card-content {
      font-size: 4em;
  }
}

.back-side {
    background: var(--second-color);;
}
.back-side:hover {
    background-color: rgb(233, 150, 67);
    cursor: pointer;
}
.back-side span {
    color: transparent
}

/* endgame */

.end-container {
    width: 60%;
    margin: 0 auto;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.win-title {
    color: var(--second-color);
}
.lose-title{
    color:var(--main-color);
    margin-bottom: 30px;
}
.win-text {
    font-weight: 400;
}
@media screen and (max-device-width: 760px){
    .end-container {
        width: 70%;
        font-size: 3.5rem; 
    }
    .win-text{
        font-size: 4rem;
    }
}

.play-again-btn {
    margin-top: 20px;
}

/* service classes */

.unselectable {
    user-select: none;  
}

.hidden {
    display: none;
}

.not-vis {
    opacity: 0;
}
.not-vis:hover{
    cursor:default;
}